<a href="https://colab.research.google.com/github/JHS2025/Homework/blob/main/29divmod_30round.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 11113
y = 23
ret1 = x // y
ret2 = x % y
print(f'{x}을(를) {y}(으)로 나누면 몫이 {ret1}, 나머지가 {ret2}입니다.')

11113을(를) 23(으)로 나누면 몫이 483, 나머지가 4입니다.

In [ ]:
x = 11113
y = 23
ret1, ret2 = divmod(x,y)
print(f'{x}을(를) {y}(으)로 나누면 몫이 {ret1}, 나머지가 {ret2}입니다.')

11113을(를) 23(으)로 나누면 몫이 483, 나머지가 4입니다.

In [ ]:
ret = round(42.195)
print(ret)

42

In [ ]:
ret = round(42.195, 0)
print(ret)

42.0

In [ ]:
ret = round(42.195,1)
print(ret)

42.2

In [ ]:
ret = round(42.195, -1)
print(ret)

40.0