<a href="https://colab.research.google.com/github/JHS2025/Homework/blob/main/41map_42zip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def myfunc(x):
  return x**2


results = map(myfunc, [0,1,2,3])
print(list(results))

[0, 1, 4, 9]

In [ ]:
results = map(lambda x:x**2,range(4))
print(list(results))

[0, 1, 4, 9]

In [ ]:
X = [1,2,3,4,5]
Y = [10,9,8,7,6]
ret = map(lambda x,y:x**2+y,X,Y)
print(list(ret))

[11, 13, 17, 23, 31]

In [ ]:
male = ['슈퍼맨','심봉사','로미오','이몽룡','마루치']
female = ['원더우먼','뻥덕어멈','줄리엣','성춘향','아라치']
couples = zip(male,female)
for couple in couples:
  print(couple)

('슈퍼맨', '원더우먼')
('심봉사', '뻥덕어멈')
('로미오', '줄리엣')
('이몽룡', '성춘향')
('마루치', '아라치')

In [ ]:
male = ['슈퍼맨','심봉사','로미오']
female = ['원더우먼','뻥덕어멈','줄리엣','성춘향','아라치']
for couple in zip(male,female):
  print(couple)

('슈퍼맨', '원더우먼')
('심봉사', '뻥덕어멈')
('로미오', '줄리엣')