<a href="https://colab.research.google.com/github/JHS2025/Homework/blob/main/57dellist_58listremove.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ['사과','배','오렌지','수박','참외']
del fruits[1]
print(fruits)
del fruits[-1]
print(fruits)

['사과', '오렌지', '수박', '참외']
['사과', '오렌지', '수박']

In [ ]:
solarsys = ['태양','수성','금성','지구','화성','소행성대','목성','토성']
del solarsys[4:6]
print(solarsys)

['태양', '수성', '금성', '지구', '목성', '토성']

In [ ]:
del solarsys[:]
print(solarsys)

[]

In [ ]:
solarsys = ['태양','수성','금성','지구','화성','소행성대','목성','토성']
if '소행성대' in solarsys:
  idx = solarsys.index('소행성대')
  del solarsys[idx]

print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성']

In [ ]:
fruits = ['사과','배','오렌지','수박','참외']
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
numbers = [1,1,3,1,1,5,6,2,0,7]
if 1 in numbers:
  numbers.remove(1)
print(numbers)

[1, 3, 1, 1, 5, 6, 2, 0, 7]

In [ ]:
numbers = [1,1,3,1,1,5,6,2,0,7]
while 1 in numbers:
  numbers.remove(1)
print(numbers)

[3, 5, 6, 2, 0, 7]

In [ ]:
fruits = ['사과','배','오렌지','수박','참외']
fruits.remove('딸기')

ValueError: list.remove(x): x not in list