<a href="https://colab.research.google.com/github/JHS2025/Homework/blob/main/82strsplit_83strstrip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
logData = '홍길동;남자;18세;도적;초능력자'
profile = logData.split(';')
print(profile)

['홍길동', '남자', '18세', '도적', '초능력자']

In [ ]:
text = '나는 파이썬을 사랑합니다'
print(text.split())

['나는', '파이썬을', '사랑합니다']

In [ ]:
profile = '이름:홍길동 나이:18세 성별:남자 국적:조선 직업:도적 특기:초능력'
for data in profile.split():
  key,val = data.split(':')
  print(f'{key}-->{val}')

이름-->홍길동
나이-->18세
성별-->남자
국적-->조선
직업-->도적
특기-->초능력

In [ ]:
text = ' 이 문장 양쪽에는 공백이 있습니다 '
print(f'<{text.strip()}>')
print(f'<{text.lstrip()}>')
print(f'<{text.rstrip()}>')

<이 문장 양쪽에는 공백이 있습니다>
<이 문장 양쪽에는 공백이 있습니다 >
< 이 문장 양쪽에는 공백이 있습니다>

In [ ]:
url = 'www.python.com'
print(url.strip('cmow.'))

python

In [ ]:
print(url.lstrip('cmow.'))
print(url.rstrip('cmow.'))